<?xml version="1.0" encoding="UTF-8"?>  
<configuration status="OFF">  
  <appenders>  
    <Console name="Console" target="SYSTEM_OUT">  
      <!-- PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/-->  
      <PatternLayout pattern="%d{HH:mm:ss.SSS}[%t] %-5p %l - %m%n"/>
    </Console>  
    <File name="A1" fileName="sgccBrowser.log" append="true">
      <PatternLayout pattern="%d{HH:mm:ss.SSS}[%t] %-5p %l - %m%n"/>
    </File>
  </appenders> 
  <loggers>  
    <root level="info">  
      <appender-ref ref="Console"/>  
      <appender-ref ref="A1"/>  
    </root>  
  </loggers>  
</configuration>